

<div class="alert alert-success " role="alert">
  <h1 class="title align-content-center">Bienvenue dans ScrabbleGO</h1>
</div>

<div class="card  align-items-center " >
  <img src="assets/images/logo.png" alt="logo" width="300" height="100" class="rounded">
  <br>
  <h2 class="card text-white bg-dark mb-3"> {{ nom }} </h2>
  <div class="text-center">
    <img src="assets/images/scrabble.png" class="rounded-circle" alt="..." width="90" height="90">
  </div>
  <br>
  <form>
    <div class="form-group">
      <input type="file" class="form-control form-control-sm" >

    </div>
    <br>
    <div class="form-group">
      <input type="text"  class="form-control form-control-sm" placeholder="Entrer votre nom"  [(ngModel)]="nom" name="nom" >
    </div>
    <br>




    <p >Choisir un type de partie </p>
    <div class="container">
      <div class="radio_container">
        <input type="radio" name="radio" id="one" checked>
        <label for="one">Deux</label>
        <input type="radio" name="radio" id="two">
        <label for="two">Trois</label>
        <input type="radio" name="radio" id="three">
        <label for="three">Quatre</label>
      </div>
    </div>

    <br>

    <input style="margin-left: 100px;" type="button" value="Confirmer" class="btn  btn-outline-success rounded">

  </form>


</div>

