

<div class="alert alert-success " role="alert">
  <h1 class="title align-content-center">Bienvenue dans ScrabbleGO</h1>
</div>

<div class="card  align-items-center " >
  <img src="assets/images/logo.png" alt="logo" width="300" height="100" class="rounded">
  <br>
  <h2 class="card text-white bg-dark mb-3"> {{ nom }} </h2>
  <div class="text-center">
    <img src="assets/images/scrabble.png" class="rounded-circle" alt="..." width="90" height="90">
  </div>
  <br>
  <form [formGroup]="inscriptionForm" (ngSubmit)="inscrire()">
    <div class="form-group">
      <input type="file" class="form-control form-control-sm" formControlName="photo" (change)="onSelectedFile($event)" name="photo">

    </div>
    <br>
    <div class="form-group">
      <input type="text" formControlName="nom"  class="form-control form-control-sm" placeholder="Entrer votre nom"  name="nom" >
    </div>
    <br>
    <p >Choisir un type de partie </p>
    <div class="container">
      <div class="radio_container">
        <input type="radio" name="partie" id="deux" formControlName="partie" value=2 checked>
        <label for="deux">Deux</label>
        <input type="radio" name="partie" formControlName="partie" value=3 id="trois">
        <label for="trois">Trois</label>
        <input type="radio" name="partie" formControlName="partie" value=4 id="quatre">
        <label for="quatre">Quatre</label>
      </div>
      <div *ngIf="partie?.touched && partie?.invalid">
        <small *ngIf="partie?.errors?.required" class="text-danger">role is required<br></small>
      </div>
    </div>

    <br>

    <input style="margin-left: 100px;" type="submit" value="Confirmer" class="btn  btn-outline-success rounded">

  </form>


</div>

