

<div class="alert alert-success " role="alert">
  <h1 class="title align-content-center">Bienvenue dans ScrabbleGO</h1>
</div>

<div class="card  align-items-center " >
  <img src="assets/images/logo.png" alt="logo" width="300" height="100" class="rounded">
  <br>

  <br>
  <form [formGroup]="inscriptionForm" (ngSubmit)="inscrire()">
    <div class="avatar-upload">
      <div class="avatar-edit">
        <input  type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
        <label for="imageUpload"  [ngClass]="{'custom-label upload-image': editFile}"></label>
        <label   [ngClass]="{'custom-label remove-image': removeUpload}" (click)="removeUploadedFile()"></label>
      </div>
      <div class="avatar-preview">
        <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
        </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <input type="text" formControlName="nom" required  class="form-control form-control-sm" placeholder="Entrer votre nom"  name="nom" >
    </div>
    <br>
    <p >Choisir un type de partie </p>
    <div class="container">
      <div class="radio_container">
        <input type="radio" name="partie" id="deux" formControlName="partie" value=2 >
        <label for="deux">Deux</label>
        <input type="radio" name="partie" formControlName="partie" value=3 id="trois">
        <label for="trois">Trois</label>
        <input type="radio" name="partie" formControlName="partie" value=4 id="quatre" checked>
        <label for="quatre">Quatre</label>
      </div>
      <div *ngIf="partie?.touched && partie?.invalid">
        <small *ngIf="partie?.errors?.required" class="text-danger">role is required<br></small>
      </div>
    </div>

    <br>
    <div *ngIf="isError" class="alert alert-danger" role="alert">
      {{messageError}}
    </div>

    <input style="margin-left: 100px;" type="submit" value="Confirmer" class="btn  btn-outline-success rounded">

  </form>


</div>

