<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="alphabets">
    <div  *ngFor="let alpha of ['','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O']">
        <div class="alphabet_Lettre">{{alpha}}</div>
    </div>
</div>
<div class="grille">
    <div class="lettres" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
        <div class="numbers">{{number}}</div>
    </div>

    <div class="container">
        <div class="row">

            <div class="BoardBlock" *ngFor="let tile of tiles" style="{{this.BackGroundColor(tile)}};">
                <div class="Lettre" *ngIf="isLettre(tile)">
                    <span class="ScrabbleLetter">{{tile}}</span>
                    <span class="ScrabbleNumber">{{valueLettre(tile)}}</span>
                </div>
                <span class="BoardLetter{{tile}}">{{tile}}</span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container panneau-informatif">
    <div *ngFor="let joueur of joueurs">
        <div class=" joueurContainers card">
            <img src="{{joueur.photo}}" width="80" height="80" class="rounded-circle image-joueur" alt="image">
            <div class="infojoueur">
                <p class="nom-joueur">{{joueur.nom}}</p>
                <p><span class="lettre-chevalet">{{joueur.chevalet.length}}</span> lettres sur son chevalet </p>
                <div>
                    Score: <span class="score-joueur">{{joueur.score}}</span>
                    <span class="temps">Temps 5:00</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="reserve card">
        <div class="image-reserve">
            <img src="assets/images/reserve.png" width="40" height="40" class="rounded-circle" alt="image">
        </div>
        <p class="nombre-reserve">Nombre de lettres dans la reserve <i class="nombre-lettre-reserve">{{reserve.length}}</i> </p>
    </div>
    <br>
</div>

<app-boite-communication></app-boite-communication>
<app-chevalet></app-chevalet>
</body>
</html>

