.panneau-informatif{
  position: absolute;
  left: 900px;
  top: 40px;
  height: 600px;
  border: 2px solid black;
  width: 390px;
  background-color:#D1E7DD;
}
.panneau-informatif .joueurContainers {
  height: 100px;
  display: grid;
  grid-template-columns: 100px 260px;
  margin: 10px;
}


.panneau-informatif .infojoueur {
  font-size: 16px;
  border-radius: 15px;
  padding-top: 4px;
  padding-left: 8px;
  margin-left: 7px;
}

.panneau-informatif .nom-joueur {
  padding-top: 2px;
  font-family: serif;
  font-weight: bold;
  color: black;
  font-size: 15px;
}

.panneau-informatif .temps {
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #D1E7DD;
  border: 2px solid rgba(35, 229, 229, 0.63);
  border-radius: 15px;
  margin-left: 15px;
  top: 65px;
}

.panneau-informatif .timeout {
  padding-left: 4px;
  padding-right: 4px;
  background-color: #d95a5a;
  border: 2px solid red;
  border-radius: 15px;
  margin-left: 15px;
}

.panneau-informatif .image-joueur {
  border: 1px solid rgba(35, 229, 229, 0.63);
  margin-top: 10px;
  margin-left: 10px;
}

.panneau-informatif .score-joueur {
  font-size: 16px;
  font-weight: bold;
}

.panneau-informatif .lettre-chevalet {
text-align: justify;
  font-weight: bold;
}


.panneau-informatif .reserve {
  height: 70px;
  width: 380px;
  display: grid;
  grid-template-columns: 60px 260px 140px 100px;
}

.panneau-informatif .nombre-reserve {
  font-size: 16px;
  padding-top: 5px;
  padding-left: 2px;

}

.panneau-informatif .nombre-lettre-reserve {
  margin-left: 95px;
 border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  text-align: justify-all;
  padding: 1px;
}

.panneau-informatif .image-reserve {
  padding: 2px;

}
