<br>
<div class="container panneau-informatif">
  <div class=" joueurContainers card">
    <img src="assets/images/haithem.jpg" width="80" height="80" class="rounded-circle image-joueur" alt="image">
    <div class="infojoueur">
      <p class="nom-joueur">Haithem Mihoubi</p>
      <p><span class="lettre-chevalet">7</span> lettres sur son chevalet </p>
      <div>
        Score: <span class="score-joueur"> 16</span>
        <span class="temps timeout">Temps 1:00</span>
      </div>
    </div>

  </div>
  <div class=" joueurContainers card">
    <img src="assets/images/haithem.jpg" width="80" height="80" class="rounded-circle image-joueur" alt="image">
    <div class="infojoueur">
      <p class="nom-joueur">Haithem Mihoubi </p>
      <p><span class="lettre-chevalet">7</span> lettres sur son chevalet </p>
      <div>
        Score: <span class="score-joueur">16</span>
        <span class="temps">Temps 5:00</span>
      </div>
    </div>

  </div>
  <div class=" joueurContainers card">
    <img src="assets/images/haithem.jpg" width="80" height="80" class="rounded-circle image-joueur" alt="image">
    <div class="infojoueur">
      <p class="nom-joueur">Haithem Mihoubi </p>
      <p><span class="lettre-chevalet">7</span> lettres sur son chevalet </p>
      <div>
        Score: <span class="score-joueur"> 16</span>
        <span class="temps">Temps 5:00</span>
      </div>
    </div>

  </div>
  <div class=" joueurContainers card">
    <img src="assets/images/haithem.jpg" width="80" height="80" class="rounded-circle image-joueur" alt="image">
    <div class="infojoueur">
      <p class="nom-joueur">Haithem Mihoubi </p>
      <p><span class="lettre-chevalet">7</span> lettres sur son chevalet </p>
      <div>
        Score: <span class="score-joueur"> 16</span>
        <span class="temps"> Temps: 5:00</span>
      </div>
    </div>

  </div>
  <br>
  <div class="reserve card">
    <div class="image-reserve">
      <img src="assets/images/reserve.png" width="40" height="40" class="rounded-circle" alt="image">

    </div>
    <p class="nombre-reserve">Nombre de lettres dans la reserve <span class="nombre-lettre-reserve">15</span> </p>



  </div>
  <br>


</div>
