<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="grille">
  <div class="container">
    <div class="row">
      <div class="BoardBlock" *ngFor="let tile of tiles" style="{{this.BackGroundColor(tile)}};">
        <div class="Lettre" *ngIf="isLettre(tile)">
          <span class="ScrabbleLetter">{{tile}}</span>
          <span class="ScrabbleNumber">{{valueLettre(tile)}}</span>
        </div>
        <span class="BoardLetter{{tile}}">{{tile}}</span>
      </div>
    </div>
  </div>


</div>
</body>
</html>
