
.boite-communication {
  position: absolute;
  top: 650px;
  left: 900px;
  border: 2px solid black;
  width: 390px;
  height: 280px;
  background-color: #D1E7DD;
}
.boite-communication .message{
  margin-top: 10px;
  resize: none;
  height: 200px;
}
