<br>
<div class="container">

  <div class="column justify-content-center">
    <div class="mb-6" >
        <div class="form-control message"  style="overflow-y:scroll; overflow-x:hidden; height:200px;"  >
              <span *ngFor="let item of allMessages" >
                {{ item.envoyeur }} : {{ item.contenu }}
                <br>
              </span>



    </div>





    </div>
    <br>
    <div class="mb-6">


      <input type="text" class="form-control form-control-sm" name="message"
             placeholder="Entrer une commande ou un message">
    </div>
    <br>
  </div>
</div>
